@font-face {
  font-family: Max-Bold;
  src: url("../fonts/MaxLF-BoldSC.otf");
}
@font-face {
  font-family: Max-Light;
  src: url("../fonts/Max-Light.otf");
}
@font-face {
  font-family: Max-Regular;
  src: url("../fonts/Max-Regular.otf");
}
.transition, .jobs-details-info, .jobs-section .job-container .job-wrapper .job-img, .jobs-section .job-container, .login-register-link a .circle {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.box-border {
  border: 1px solid #FFF;
  position: relative;
}
.box-border .box-border-top::after, .box-border .box-border-top::before,
.box-border .box-border-bottom::after,
.box-border .box-border-bottom::before {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #FFF;
  position: absolute;
}
.box-border .box-border-top::before {
  top: -7px;
  left: -7px;
}
.box-border .box-border-top::after {
  top: -7px;
  right: -7px;
}
.box-border .box-border-bottom::before {
  bottom: -7px;
  left: -7px;
}
.box-border .box-border-bottom::after {
  bottom: -7px;
  right: -7px;
}

.navbar .navbar-nav {
  justify-content: space-evenly;
}
.navbar .navbar-nav .nav-link {
  color: #FFF;
  text-transform: uppercase;
}

.main-navbar {
  padding: 20px 5%;
  background-color: #272727;
}

.navbar-brand {
  max-width: 250px;
  margin: 0;
  padding: 0;
}
.navbar-brand a {
  font-size: 0;
}
.navbar-brand img {
  width: 100%;
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}
.site-footer .footer-logo {
  max-width: 400px;
}
.site-footer .fb-like {
  border: 1px solid #D52200;
  color: #FFF;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 30px 0 50px;
  z-index: 2;
}
.site-footer .copyright {
  margin: 0;
  color: #FFF;
  font-size: 16px;
}
.site-footer .svg {
  width: 100%;
  position: absolute;
}
.site-footer .svg#footer-svg2 {
  bottom: -50px;
  width: 130%;
  left: 0px;
}
.site-footer .svg#footer-svg1 {
  bottom: -10px;
}

.navbar-homepage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
}
.navbar-homepage .navbar-nav {
  flex-direction: row;
  justify-content: space-evenly;
}

.main-banner {
  background: url("../images/banner_image.jpg");
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-banner .banner-content {
  z-index: 2;
}
.main-banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.login-register-link {
  text-align: center;
}
.login-register-link a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none !important;
  margin-right: 50px;
  display: inline-flex;
  align-items: center;
}
.login-register-link a:last-of-type {
  margin-right: 0;
}
.login-register-link a .circle {
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block;
  margin-left: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-register-link a .circle::after {
  left: -2px;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: #D52200;
  content: "";
  display: inline-block;
  height: 15px;
  width: 15px;
  position: relative;
  vertical-align: top;
  transform: rotate(45deg);
}
.login-register-link a:hover .circle, .login-register-link a:active .circle, .login-register-link a:focus .circle {
  background-color: #D52200;
}
.login-register-link a:hover .circle::after, .login-register-link a:active .circle::after, .login-register-link a:focus .circle::after {
  border-color: #FFF;
}

.jobs-section {
  background-color: #000;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.jobs-section .section-title {
  text-align: center;
  padding: 50px 0;
  position: relative;
  z-index: 2;
}
.jobs-section .section-title .title {
  color: #D52200;
  font-size: 65px;
  text-transform: uppercase;
}
.jobs-section .section-title .subtitle {
  color: #FFF;
  font-size: 40px;
  text-transform: uppercase;
}
.jobs-section .section-content {
  max-width: 80%;
  margin: auto;
  position: relative;
  z-index: 2;
}
.jobs-section .section-content .row {
  margin: 0;
}
.jobs-section .job-container {
  text-decoration: none !important;
  padding: 50px 15px;
}
.jobs-section .job-container:hover .job-wrapper .job-img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.jobs-section .job-container:hover .job-wrapper .job-name::before {
  opacity: 1;
}
.jobs-section .job-container:hover.bellato-wrapper {
  background-color: #311F07;
}
.jobs-section .job-container:hover.cora-wrapper {
  background-color: #031437;
}
.jobs-section .job-container:hover.accretia-wrapper {
  background-color: #410A01;
}
.jobs-section .job-container .job-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.jobs-section .job-container .job-wrapper .job-name {
  color: #FFF;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 50px;
}
.jobs-section .job-container .job-wrapper .job-name::before {
  opacity: 0;
  font-size: 160px;
  content: attr(data-name);
  position: absolute;
  transform: rotate(-90deg);
}
.jobs-section .job-container .job-wrapper .job-img {
  z-index: 2;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.jobs-section .job-container.bellato-wrapper .job-name::before {
  left: -245px;
  bottom: 150px;
  color: #2A1B07;
}
.jobs-section .job-container.cora-wrapper .job-name::before {
  left: -145px;
  bottom: 50px;
  color: #000F2D;
}
.jobs-section .job-container.accretia-wrapper .job-name::before {
  left: -285px;
  bottom: 210px;
  color: #330E07;
}
.jobs-section #svg1 {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.jobs-section #svg2 {
  position: absolute;
  top: 35%;
  width: 115%;
  z-index: 1;
  left: -15%;
}
.jobs-section #svg3 {
  position: absolute;
  top: 42%;
  width: 100%;
  z-index: 1;
}
.jobs-section #svg4 {
  position: absolute;
  top: 65%;
  width: 100%;
  z-index: 1;
}

.register-now-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-now-section img {
  width: 100%;
  height: auto;
}
.register-now-section .banner-title {
  font-size: 60px;
  color: #FFF;
  margin-bottom: 50px;
}
.register-now-section .banner-content {
  position: absolute;
}

.jobs-details-info {
  display: flex;
  background-color: #311F07;
  flex-wrap: wrap;
  position: absolute;
  bottom: 60px;
  /* top: 0; */
  width: 113%;
  right: -13%;
  margin: auto;
  z-index: 3;
}
.jobs-details-info.hide {
  right: -126%;
}
.jobs-details-info .go-back {
  flex-basis: 100%;
  text-align: right;
  padding: 50px;
}
.jobs-details-info .go-back a {
  font-size: 16px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}
.jobs-details-info .go-back a .chevron {
  margin-right: 15px;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border: 1px solid #FFF;
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.jobs-details-info .go-back a .chevron::before {
  left: 2px;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: #FFF;
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  transform: rotate(-140deg);
  content: "";
}
.jobs-details-info .job-wrapper {
  position: relative;
  flex-basis: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.jobs-details-info .job-wrapper img {
  z-index: 2;
  position: relative;
}
.jobs-details-info .job-wrapper .job-name {
  color: #FFF;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 50px;
  z-index: 2;
  position: relative;
}
.jobs-details-info .job-wrapper .rotate-job-name {
  text-transform: uppercase;
  font-size: 160px;
  position: absolute;
  transform: rotate(-90deg);
  color: #2A1B07;
  left: -220px;
  bottom: 220px;
  z-index: 1;
  margin: 0;
}
.jobs-details-info .job-info {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.jobs-details-info .job-info .top-content {
  display: flex;
  margin-bottom: 30px;
}
.jobs-details-info .job-info .top-content .job-name {
  flex-basis: 30%;
  color: #FFF;
  font-size: 20px;
  text-transform: uppercase;
}
.jobs-details-info .job-info .top-content .job-name strong {
  font-size: 60px;
  color: #D52200;
  display: block;
  margin: 0;
  line-height: 50px;
  margin-left: -3px;
}
.jobs-details-info .job-info .top-content .desc {
  flex-basis: 70%;
  color: #FFF;
  font-size: 20px;
}
.jobs-details-info .job-info .bottom-content {
  display: flex;
}
.jobs-details-info .job-info .bottom-content .class-detail {
  flex-basis: 75%;
  margin-right: 30px;
}
.jobs-details-info .job-info .bottom-content .class-detail .classes-wrapper {
  display: flex;
  padding: 0 15px;
  margin-top: 30px;
}
.jobs-details-info .job-info .bottom-content .class-detail .classes {
  text-align: center;
  padding: 0 30px;
}
.jobs-details-info .job-info .bottom-content .class-detail .classes .img-wrapper {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #FFF;
}
.jobs-details-info .job-info .bottom-content .class-detail .classes .img-wrapper img {
  width: 100%;
  height: auto;
}
.jobs-details-info .job-info .bottom-content .class-detail .classes .classes-name {
  color: #FFF;
  margin: 15px 0 0;
  font-size: 16px;
  text-transform: uppercase;
}
.jobs-details-info .job-info .bottom-content .population {
  flex-basis: 25%;
  align-items: center;
}
.jobs-details-info .job-info .bottom-content .population .pop-count {
  font-size: 50px;
  margin: 0;
  color: #D52200;
}
.jobs-details-info .job-info .bottom-content .box-border {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2A1B07;
  padding: 25px 10px;
}
.jobs-details-info .job-info .bottom-content .box-border .box-title {
  text-transform: uppercase;
  color: #FFF;
}

.inside-banner {
  position: relative;
}
.inside-banner img {
  width: 100%;
  height: auto;
}
.inside-banner .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -300px 300px 0 #000000 !important;
  top: 0;
  left: 0;
}
.inside-banner .banner-content {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  color: #FFF;
}
.inside-banner .banner-content .banner-title {
  color: #D52200;
  font-size: 65px;
  text-transform: uppercase;
  margin: 0;
}
.inside-banner .banner-content .subtitle {
  font-size: 40px;
}

.inside-pages {
  background-color: #000;
}

.rules-rates-container {
  max-width: 70%;
  margin: auto;
  display: flex;
  padding: 150px 0 0;
}
.rules-rates-container .categories {
  flex-basis: 20%;
}
.rules-rates-container .categories .box-border {
  background-color: #2E2E2E;
  padding: 25px 40px;
}
.rules-rates-container .categories .title {
  color: #D52200;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.rules-rates-container .categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.rules-rates-container .categories li {
  margin-top: 15px;
}
.rules-rates-container .categories li a {
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
}
.rules-rates-container .rules-container {
  flex-basis: 80%;
  padding-left: 100px;
}

.rules-wrapper {
  display: flex;
  margin-top: 60px;
}
.rules-wrapper:first-of-type {
  margin-top: 0;
}
.rules-wrapper .icon {
  width: 96px;
  min-width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rules-wrapper .icon::before {
  content: "";
  background: url("../images/rules-and-rates-sprite.png") no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: 145px;
}
.rules-wrapper .rules-list {
  margin-left: 30px;
}
.rules-wrapper .rules-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rules-wrapper .rules-list ul li {
  color: #FFF;
  margin-bottom: 25px;
}
.rules-wrapper .rules-list ul li p {
  color: #1EBAD0;
}
.rules-wrapper .rule-name {
  font-size: 30px;
  margin: 25px 0;
}
.rules-wrapper.permanent-ban .icon {
  border: 2px solid #D52200;
}
.rules-wrapper.permanent-ban .icon::before {
  background-position: -49px -2px;
}
.rules-wrapper.permanent-ban .rule-name {
  color: #D52200;
}
.rules-wrapper.gms-decision .icon {
  border: 2px solid #F07520;
}
.rules-wrapper.gms-decision .icon::before {
  background-position: 0 -2px;
}
.rules-wrapper.gms-decision .rule-name {
  color: #F07520;
}
.rules-wrapper.other-banning .icon {
  border: 2px solid #1EBAD0;
}
.rules-wrapper.other-banning .icon::before {
  background-position: -99px -2px;
}
.rules-wrapper.other-banning .rule-name {
  color: #1EBAD0;
}

.rates-container {
  text-align: center;
  padding: 200px 0;
  position: relative;
}
.rates-container .container-title .title {
  color: #D52200;
  font-size: 60px;
  text-transform: uppercase;
}
.rates-container .container-content {
  margin-top: 80px;
}
.rates-container .row {
  justify-content: center;
  margin: 0;
}
.rates-container .rate-wrapper p {
  margin: 0;
}
.rates-container .rate-wrapper .title {
  color: #FFF;
  font-size: 40px;
  text-transform: uppercase;
}
.rates-container .rate-wrapper .rate {
  color: #D52200;
  font-size: 40px;
}
.rates-container .rate-wrapper .premium {
  color: #E1C85C;
  font-size: 22px;
  margin-top: 25px;
}
.rates-container .svg {
  width: 100%;
  position: absolute;
}
.rates-container .svg#rulesRatesSvg1 {
  left: 0;
  top: 0;
}
.rates-container .svg#rulesRatesSvg2 {
  left: 0;
  bottom: 130px;
}

.about-container {
  max-width: 60%;
  margin: auto;
}

.about-resurgence {
  overflow: hidden;
}

.resurgence-info {
  font-size: 20px;
  color: #E1C85C;
  text-align: center;
  padding: 80px 0;
}

.about-main-wrapper {
  padding-bottom: 150px;
}
.about-main-wrapper .about-wrapper:nth-of-type(even) .desc {
  padding-right: 50px;
}
.about-main-wrapper .about-wrapper:nth-of-type(odd) .desc {
  padding-left: 50px;
}

.about-wrapper {
  position: relative;
}
.about-wrapper .about-container {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-wrapper .about-container .desc p {
  color: #FFF;
  font-size: 20px;
}
.about-wrapper .about-container .desc p .red {
  color: #D52200;
}
.about-wrapper.bellato .job-img {
  width: 14%;
}
.about-wrapper.bellato .job-logo {
  position: absolute;
  left: -120px;
}
.about-wrapper.cora .job-img {
  width: 18%;
}
.about-wrapper.cora .job-logo {
  position: absolute;
  right: -120px;
}
.about-wrapper.accretia .job-img {
  width: 25%;
}
.about-wrapper.accretia .job-logo {
  position: absolute;
  left: -120px;
}
.about-wrapper .svg {
  position: absolute;
  width: 100%;
}
.about-wrapper .svg#bellatioSvg {
  top: -150px;
}
.about-wrapper .svg#coraSvg {
  bottom: 0;
}
.about-wrapper .svg#accretiaSvg {
  bottom: 0;
}

.contact-us-wrapper {
  max-width: 800px;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}
.contact-us-wrapper p {
  color: #FFF;
  font-size: 20px;
  margin: 0;
}
.contact-us-wrapper form {
  margin-top: 50px;
}
.contact-us-wrapper .form-control {
  background-color: #2E2E2E;
  border: 0 !important;
  padding: 25px 20px;
  outline: 0 !important;
  box-shadow: none;
  color: #FFF;
}
.contact-us-wrapper button {
  background-color: #D52200;
  color: #FFF;
  border: 0;
  box-shadow: none;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 10px 25px;
  min-width: 130px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto 0;
}
.contact-us-wrapper .chevron {
  left: -2px;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: #FFF;
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  transform: rotate(45deg);
}

.downloads-container {
  max-width: 70%;
  margin: auto;
  padding: 100px 0 0;
}
.downloads-container .box-border {
  background-color: #2E2E2E;
  padding: 80px;
}
.downloads-container .downloads-tbl {
  width: 100%;
}
.downloads-container .downloads-tbl tr:first-of-type th {
  padding-top: 0;
}
.downloads-container .downloads-tbl th {
  color: #D52200;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 30px;
}
.downloads-container .downloads-tbl td {
  padding: 10px 0;
  font-size: 20px;
  color: #FFF;
}
.downloads-container .downloads-tbl button {
  background-color: #D52200;
  color: #FFF;
  border: 0;
  box-shadow: none;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 10px 25px;
  min-width: 130px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto 0;
}
.downloads-container .downloads-tbl button .chevron {
  left: -2px;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: #FFF;
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  transform: rotate(45deg);
}

.patch-instructions {
  margin: 150px 0;
}
.patch-instructions .title {
  color: #D52200;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}
.patch-instructions .arrow {
  margin: 0 60px;
}
.patch-instructions .patch-container {
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.patch-instructions .patch-container p {
  color: #FFF;
  font-size: 20px;
  margin-top: 20px;
}
.patch-instructions .img-wrapper {
  text-align: center;
  border: 1px solid #E1C85C;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.patch-instructions .img-wrapper img {
  width: 50%;
  height: auto;
}

.min-requirements .title {
  color: #D52200;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}
.min-requirements .box-border {
  margin-top: 80px;
  background-color: #2E2E2E;
  padding: 80px;
}
.min-requirements .requirements-table {
  margin: auto;
  max-width: 80%;
  width: 100%;
}
.min-requirements .requirements-table td {
  width: 50%;
  padding: 5px 0;
}
.min-requirements .requirements-table td:first-of-type {
  color: #FFF;
  font-size: 20px;
}
.min-requirements .requirements-table td:last-of-type {
  color: #E1C85C;
  font-size: 20px;
}
.min-requirements .note {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  margin: 40px auto;
  max-width: 90%;
}

.additional-requirements {
  margin-top: 100px;
}
.additional-requirements .title {
  color: #D52200;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}
.additional-requirements .note {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  margin: 40px auto;
  max-width: 90%;
}
.additional-requirements p {
  font-size: 16px;
  color: #FFF;
  text-align: center;
}
.additional-requirements .additional-requirements-container {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 30px auto;
}
.additional-requirements .additional-requirements-container p {
  text-align: left;
  text-transform: uppercase;
}
.additional-requirements .additional-requirements-container .os {
  color: #E1C85C;
  font-size: 25px;
}
.additional-requirements .additional-requirements-container button {
  background-color: #D52200;
  color: #FFF;
  border: 0;
  box-shadow: none;
  border-radius: 25px;
  text-transform: uppercase;
  padding: 10px 25px;
  min-width: 130px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 0;
}
.additional-requirements .additional-requirements-container button .chevron {
  left: -2px;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: #FFF;
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  transform: rotate(45deg);
}

.faqs {
  margin: 100px 0;
}
.faqs .title {
  color: #D52200;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.faqs .faqs-wrapper {
  margin-bottom: 50px;
}
.faqs .faqs-wrapper:last-of-type {
  margin-bottom: 0;
}
.faqs .faqs-wrapper .title {
  font-size: 25px;
  color: #E1C85C;
  text-align: left;
}
.faqs .faqs-wrapper p, .faqs .faqs-wrapper li {
  color: #FFF;
  font-size: 16px;
}
.faqs .reference {
  color: #D52200;
  font-size: 16px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
