@font-face {
  font-family: Max-Bold;
  src: url("../fonts/MaxLF-BoldSC.otf");
}

@font-face {
  font-family: Max-Light;
  src: url("../fonts/Max-Light.otf");
}

@font-face {
  font-family: Max-Regular;
  src: url("../fonts/Max-Regular.otf");
}


// Partials
@import 'partials/variables';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/front_page';
@import 'partials/inside_pages';
@import 'partials/rules_and_rates';
@import 'partials/about';
@import 'partials/contact_us';
@import 'partials/downloads';
