.about-container {
	max-width: 60%;
	margin: auto;
}

.about-resurgence {
	overflow: hidden;
}

.resurgence-info {
	font-size: 20px;
	color: #E1C85C;
	text-align: center;
	padding: 80px 0;
}

.about-main-wrapper {
	padding-bottom: 150px;
	.about-wrapper {
		&:nth-of-type(even) {
			.desc {
				padding-right: 50px;
			}
		}
		&:nth-of-type(odd) {
			.desc {
				padding-left: 50px;
			}
		}
	}
}
.about-wrapper {
	position: relative;
	.about-container {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		.desc {
			p {
				color: #FFF;
				font-size: 20px;
				.red {
					color: $red;
				}
			}
		}
	}
	&.bellato {
		.job-img {
	    width: 14%;
		}
		.job-logo {
			position: absolute;
			left: -120px;
		}
	}
	&.cora {
		.job-img {
			width: 18%;
		}
		.job-logo {
			position: absolute;
			right: -120px;
		}
	}
	&.accretia {
		.job-img {
			width: 25%;
		}
		.job-logo {
			position: absolute;
			left: -120px;
		}
	}
	.svg {
		position: absolute;
    width: 100%;
    &#bellatioSvg {
	    top: -150px;
    }
    &#coraSvg {
    	bottom: 0;
    }
    &#accretiaSvg {
    	bottom: 0;
    }
	}

}