.contact-us-wrapper {
	max-width: 800px;
	margin: auto;
	padding: 100px 0;
	text-align: center;
	p {
		color: #FFF;
		font-size: 20px;
		margin: 0;
	}
	form {
		margin-top: 50px;
	}
	.form-control {
		background-color: #2E2E2E;
		border: 0 !important;
		padding: 25px 20px;
		outline: 0 !important;
		box-shadow: none;
		color: #FFF;
	}
	button {
		background-color: $red;
		color: #FFF;
		border: 0;
		box-shadow: none;
		border-radius: 25px;
		text-transform: uppercase;
		padding: 10px 25px;
		min-width: 130px;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 30px auto 0;
	}
	.chevron {
		left: -2px;
		border-style: solid;
		border-width: 0.15em 0.15em 0 0;
		border-color: #FFF;
		display: inline-block;
		height: 10px;
		width: 10px;
		position: relative;
		transform: rotate(45deg);
	}
}