.downloads-container{
  max-width: 70%;
  margin: auto;
  padding: 100px 0 0;
  .box-border {
	  background-color: #2E2E2E;
	  padding: 80px;
  }
  .downloads-tbl {
  	width: 100%;
  	tr {
  		&:first-of-type {
  			th {
  				padding-top: 0;
  			}
  		}
  	}
  	th {
  		color: $red;
  		font-size: 25px;
  		text-transform: uppercase;
  		font-weight: normal;
  		padding-top: 30px;
  	}
  	td {
  		padding: 10px 0;
  		font-size: 20px;
  		color: #FFF;
  	}
  	button {
  		background-color: $red;
	    color: #FFF;
	    border: 0;
	    box-shadow: none;
	    border-radius: 25px;
	    text-transform: uppercase;
	    padding: 10px 25px;
	    min-width: 130px;
	    font-size: 16px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    margin: 30px auto 0;
	    .chevron {
	    	left: -2px;
		    border-style: solid;
		    border-width: 0.15em 0.15em 0 0;
		    border-color: #FFF;
		    display: inline-block;
		    height: 10px;
		    width: 10px;
		    position: relative;
		    transform: rotate(45deg);
	    }
  	}
  }
}


.patch-instructions {
	margin: 150px 0;
	.title {
		color: $red;
		text-transform: uppercase;
		font-size: 50px;
		text-align: center;
	}
	.arrow {
    margin: 0 60px;
	}
	.patch-container {
		margin-top: 50px;
		display: flex;
    align-items: baseline;
    justify-content: center;
    p {
    	color: #FFF;
    	font-size: 20px;
    	margin-top: 20px;
    }
	}
	.img-wrapper {
		text-align: center;
		border: 1px solid #E1C85C;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: auto;
		display: flex;
    align-items: center;
    justify-content: center;
		img {
			width: 50%;
			height: auto;
		}
	}
}

.min-requirements {
	.title {
		color: $red;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
	}
  .box-border {
  	margin-top: 80px;
	  background-color: #2E2E2E;
	  padding: 80px;
  }
  .requirements-table {
		margin: auto;
		max-width: 80%;
		width: 100%;
		td {
			width: 50%;
			padding: 5px 0;
			&:first-of-type {
				color: #FFF;
				font-size: 20px;
			}
			&:last-of-type {
				color: #E1C85C;
				font-size: 20px;
			}
		}
  }
  .note {
  	text-align: center;
  	color: #FFF;
  	font-size: 16px;
  	margin: 40px auto;
  	max-width: 90%;
  }
}

.additional-requirements {
	margin-top: 100px;
	.title {
		color: $red;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
	}
  .note {
  	text-align: center;
  	color: #FFF;
  	font-size: 16px;
  	margin: 40px auto;
  	max-width: 90%;
  }
  p {
  	font-size: 16px;
  	color: #FFF;
  	text-align: center;
  }
  .additional-requirements-container {
  	display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 30px auto;
    p {
    	text-align: left;
    	text-transform: uppercase;
    }
    .os {
    	color: #E1C85C;
    	font-size: 25px;
    }
  	button {
  		background-color: $red;
	    color: #FFF;
	    border: 0;
	    box-shadow: none;
	    border-radius: 25px;
	    text-transform: uppercase;
	    padding: 10px 25px;
	    min-width: 130px;
	    font-size: 16px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    margin: 30px 0 0;
	    .chevron {
	    	left: -2px;
		    border-style: solid;
		    border-width: 0.15em 0.15em 0 0;
		    border-color: #FFF;
		    display: inline-block;
		    height: 10px;
		    width: 10px;
		    position: relative;
		    transform: rotate(45deg);
	    }
  	}
  }
}

.faqs {
	margin: 100px 0;
	.title {
		color: $red;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
	}
	.faqs-wrapper {
		margin-bottom: 50px;
		&:last-of-type {
			margin-bottom: 0;
		}
		.title {
			font-size: 25px;
			color: #E1C85C;
			text-align: left;
		}
		p, li {
			color: #FFF;
			font-size: 16px;
		}
	}
	.reference {
		color: $red;
		font-size: 16px;
		text-transform: uppercase;
	}
}