.site-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #000;
	padding-bottom: 50px;
	position: relative;
	overflow: hidden;
	.footer-logo {
		max-width: 400px;
	}
	.fb-like {
		border: 1px solid $red;
		color: #FFF;
		display: inline-block;
		padding: 10px 30px;
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 5px;
		font-size: 16px;
		margin: 30px 0 50px;
		z-index: 2;
	}
	.copyright {
		margin: 0;
		color: #FFF;
		font-size: 16px;
	}
	.svg {
		width: 100%;
		position: absolute;
		&#footer-svg2 {
	    bottom: -50px;
	    width: 130%;
	    left: 0px;
		}
		&#footer-svg1 {
			bottom: -10px;
		}
	}
}