.navbar-homepage {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 2;
	.navbar-nav {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

.main-banner {
	background: url('../images/banner_image.jpg');
	height: 100vh;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
  align-items: center;
  justify-content: center;
  .banner-content {
  	z-index: 2;
  }
	&::before {
		content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
	}
}

.login-register-link {
	text-align: center;
	a {
		color: #FFF;
		text-transform: uppercase;
		text-decoration: none !important;
		margin-right: 50px;
		display: inline-flex;
		align-items: center;
		&:last-of-type {
			margin-right: 0;
		}
		.circle {
			width: 50px;
			height: 50px;
			background-color: #FFF;
			border-radius: 50%;
			display: inline-block;
			margin-left: 25px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			@extend .transition;
			&::after {
				left: -2px;
				border-style: solid;
				border-width: 0.15em 0.15em 0 0;
				border-color: $red;
				content: "";
				display: inline-block;
				height: 15px;
				width: 15px;
				position: relative;
				vertical-align: top;
				transform: rotate(45deg);
			}
		}
		&:hover,&:active,&:focus {
			.circle {
				background-color: $red;
				&::after {
					border-color: #FFF;
				}
			}
		}
	}
}

.jobs-section {
	background-color: #000;
	padding: 100px 0;
	position: relative;
	overflow: hidden;
	.section-title {
		text-align: center;
		padding: 50px 0;
		position: relative;
		z-index: 2;
		.title {
			color: $red;
			font-size: 65px;
			text-transform: uppercase;
		}
		.subtitle {
			color: #FFF;
			font-size: 40px;
			text-transform: uppercase;
		}
	}
	.section-content {
    max-width: 80%;
    margin: auto;
		position: relative;
		z-index: 2;
		.row {
			margin: 0;
		}
	}
	.job-container {
		text-decoration: none !important;
		padding: 50px 15px;
		@extend .transition;
		&:hover {
			.job-wrapper {
				.job-img {
					-webkit-transform: scale(1.1);
			    -moz-transform: scale(1.1);
			    -ms-transform: scale(1.1);
			    -o-transform: scale(1.1);
			    transform: scale(1.1);
				}
				.job-name {
					&::before {
						opacity: 1;
					}
				}
			}
			&.bellato-wrapper {
				background-color: #311F07;
			}
			&.cora-wrapper {
				background-color: #031437;
			}
			&.accretia-wrapper {
				background-color: #410A01;
			}
		}
		.job-wrapper {
			width: 100%;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: flex-end;
	    position: relative;
			.job-name {
				color: #FFF;
				font-size: 40px;
				text-transform: uppercase;
				margin-top: 50px;
				&::before {
					opacity: 0;
					font-size: 160px;
					content: attr(data-name);
					position: absolute;
					transform: rotate(-90deg);
				}
			}
			.job-img {
				z-index: 2;
				-webkit-transform: scale(1);
		    -moz-transform: scale(1);
		    -ms-transform: scale(1);
		    -o-transform: scale(1);
		    transform: scale(1);
		    @extend .transition;
			}
		}
		&.bellato-wrapper {
			.job-name {
				&::before {
					left: -245px;
					bottom: 150px;
					color: #2A1B07;
				}
			}
		}
		&.cora-wrapper {
			.job-name {
				&::before {
					left: -145px;
			    bottom: 50px;
					color: #000F2D;
				}
			}
		}
		&.accretia-wrapper {
			.job-name {
				&::before {
					left: -285px;
			    bottom: 210px;
					color: #330E07;
				}
			}
		}
	}
	#svg1 {
		position: absolute;
		top: 0;
    width: 100%;
    z-index: 1;
	}
	#svg2 {
		position: absolute;
		top: 35%;
    width: 115%;
    z-index: 1;
    left: -15%;
	}
	#svg3 {
		position: absolute;
		top: 42%;
    width: 100%;
    z-index: 1;
	}
	#svg4 {
		position: absolute;
		top: 65%;
    width: 100%;
    z-index: 1;
	}
}


.register-now-section {
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
		height: auto;
	}
	.banner-title {
		font-size: 60px;
		color: #FFF;
		margin-bottom: 50px;
	}
	.banner-content {
		position: absolute;
	}
}



.jobs-details-info {
	display: flex;
  background-color: #311F07;
  flex-wrap: wrap;
  position: absolute;
  bottom: 60px;
  /* top: 0; */
  width: 113%;
  right: -13%;
  margin: auto;
  z-index: 3;
  @extend .transition;
  &.hide {
	  right: -126%;
  }
  .go-back {
  	flex-basis: 100%;
		text-align: right;
    padding: 50px;
  	a {
  		font-size: 16px;
  		color: #FFF;
  		text-transform: uppercase;
  		text-decoration: none;
			.chevron {
				margin-right: 15px;
				width: 30px;
				min-width: 30px;
				height: 30px;
				border: 1px solid #FFF;
	  		display: inline-flex;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				&::before {
					left: 2px;
					border-style: solid;
					border-width: 0.15em 0.15em 0 0;
					border-color: #FFF;
					display: inline-block;
					height: 10px;
					width: 10px;
					position: relative;
					transform: rotate(-140deg);
					content: '';
				}
			}
  	}
  }
  .job-wrapper {
  	position: relative;
  	flex-basis: 30%;
  	display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  	img {
  		z-index: 2;
  		position: relative;
  	}
		.job-name {
			color: #FFF;
			font-size: 40px;
			text-transform: uppercase;
			margin-top: 50px;
			z-index: 2;
			position: relative;
		}
		.rotate-job-name {
			text-transform: uppercase;
			font-size: 160px;
			position: absolute;
			transform: rotate(-90deg);
			color: #2A1B07;
			left: -220px;
	    bottom: 220px;
			z-index: 1;
			margin: 0;
		}
  }
  .job-info {
  	flex-basis: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px;
  	.top-content {
  		display: flex;
  		margin-bottom: 30px;
  		.job-name {
  			flex-basis: 30%;
  			color: #FFF;
  			font-size: 20px;
  			text-transform: uppercase;
  			strong {
  				font-size: 60px;
  				color: $red;
  				display: block;
					margin: 0;
					line-height: 50px;
			    margin-left: -3px;
  			}
  		}
  		.desc {
  			flex-basis: 70%;
  			color: #FFF;
  			font-size: 20px;
  		}
  	}
  	.bottom-content {
  		display: flex;
  		.class-detail {
  			flex-basis: 75%;
  			margin-right: 30px;
  			.classes-wrapper {
  				display: flex;
  				padding: 0 15px;
  				margin-top: 30px;
  			}
  			.classes {
  				text-align: center;
			    padding: 0 30px;
  				.img-wrapper {
  					padding: 5px;
  					border-radius: 50%;
  					border: 1px solid #FFF;
  					img {
  						width: 100%;
  						height: auto;
  					}
  				}
  				.classes-name {
  					color: #FFF;
  					margin: 15px 0 0;
  					font-size: 16px;
  					text-transform: uppercase;
  				}
  			}
  		}
  		.population {
  			flex-basis: 25%;
  			align-items: center;
  			.pop-count {
  				font-size: 50px;
  				margin: 0;
  				color: $red;
  			}
  		}
  		.box-border {
  			text-align: center;
  			display: flex;
  			flex-direction: column;
  			background-color: #2A1B07;
  			padding: 25px 10px;
  			.box-title {
  				text-transform: uppercase;
  				color: #FFF;
  			}
  		}
  	}
  }
}