.navbar {
	.navbar-nav {
		justify-content: space-evenly;
		.nav-link {
			color: #FFF;
			text-transform: uppercase;
		}
	}
}

.main-navbar {
	padding: 20px 5%;
	background-color: #272727;
}

.navbar-brand {
	max-width: 250px;
	margin: 0;
	padding: 0;
	a {
		font-size: 0;
	}
	img {
		width: 100%;
	}
}