.inside-banner {
	position: relative;
	img {
		width: 100%;
		height: auto;
	}
	.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -300px 300px 0 #000000 !important;
    top: 0;
    left: 0;
	}
	.banner-content {
		z-index: 2;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: 0;
		color: #FFF;
		.banner-title {
			color: $red;
			font-size: 65px;
			text-transform: uppercase;
			margin: 0;
		}
		.subtitle {
			font-size: 40px;
		}
	}
}

.inside-pages {
	background-color: #000;
}