.rules-rates-container {
	max-width: 70%;
	margin: auto;
  display: flex;
  padding: 150px 0 0;
  .categories {
  	flex-basis: 20%;
  	.box-border {
  		background-color: #2E2E2E;
		  padding: 25px 40px;
  	}
  	.title {
  		color: $red;
  		font-size: 30px;
  		text-transform: uppercase;
  		margin-bottom: 0;
  	}
  	ul {
  		list-style: none;
  		padding: 0;
  		margin: 0;
  	}
  	li {
  		margin-top: 15px;
  		a {
				font-size: 16px;
				color: #FFF;
				text-decoration: none;
  		}
  	}
  }
  .rules-container {
		flex-basis: 80%;
		padding-left: 100px;
  }
}

.rules-wrapper {
	display: flex;
	margin-top: 60px;
	&:first-of-type {
		margin-top: 0;
	}
	.icon {
		width: 96px;
		min-width: 96px;
		height: 96px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before {
			content: '';
			background: url('../images/rules-and-rates-sprite.png') no-repeat;
			width: 50px;
	    height: 50px;
	    display: inline-block;
	    background-size: 145px;
		}
	}
	.rules-list {
    margin-left: 30px;
    ul {
    	margin: 0;
    	padding: 0;
    	list-style: none;
    	li {
    		color: #FFF;
    		margin-bottom: 25px;
    		p {
    			color: #1EBAD0;
    		}
    	}
    }
	}
	.rule-name {
		font-size: 30px;
		margin: 25px 0;
	}
	&.permanent-ban {
		.icon {
			border: 2px solid $red;
			&::before {
		    background-position: -49px -2px;
			}
		}
		.rule-name {
			color: $red;
		}
	}
	&.gms-decision {
		.icon {
			border: 2px solid #F07520;
			&::before {
		    background-position: 0 -2px;
			}
		}
		.rule-name {
			color: #F07520;
		}
	}
	&.other-banning {
		.icon {
			border: 2px solid #1EBAD0;
			&::before {
		    background-position: -99px -2px;
			}
		}
		.rule-name {
			color: #1EBAD0;
		}
	}
}

.rates-container {
	text-align: center;
  padding: 200px 0;
  position: relative;
	.container-title {
		.title {
			color: $red;
			font-size: 60px;
			text-transform: uppercase;
		}
	}
	.container-content {
		margin-top: 80px;
	}
	.row {
		justify-content: center;
		margin: 0;
	}
	.rate-wrapper {
		p {
			margin: 0;
		}
		.title {
			color: #FFF;
			font-size: 40px;
			text-transform: uppercase;
		}
		.rate {
			color: $red;
			font-size: 40px;
		}
		.premium {
			color: #E1C85C;
			font-size: 22px;
			margin-top: 25px;
		}
	}
	.svg {
		width: 100%;
    position: absolute;
		&#rulesRatesSvg1 {
	    left: 0;
	    top: 0;
		}
		&#rulesRatesSvg2 {
			left: 0;
	    bottom: 130px;
		}
	}
}