$red: #D52200;

.transition {
	-webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.box-border {
	border: 1px solid #FFF;
	position: relative;
	.box-border-top,
	.box-border-bottom {
		&::after,&::before {
			content: "";
			width: 13px;
			height: 13px;
			background-color: #FFF;
			position: absolute;
		}
	}
	.box-border-top {
		&::before {
			top: -7px;
			left: -7px;
		}
		&::after {
			top: -7px;
			right: -7px;
		}
	}
	.box-border-bottom {
		&::before {
			bottom: -7px;
			left: -7px;
		}
		&::after {
			bottom: -7px;
			right: -7px;
		}
	}
}